<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:remove="all">Template for HTML email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>

</style>

<body>
  <p>
    Halo <span th:text="${name}">[name]</span>,
  </p>
  <p>
    Kamu baru saja melakukan permintaan untuk melakukan reset password akun Fazzpay anda. Masukkan kode berikut untuk melanjutkan proses.
  </p>
  <span th:text="${code}">[code]</span>
  <p>
    Jika anda tidak melakukan permintaan tersebut, silahkan abaikan email ini atau balas untuk memberi tahu kami.
  </p>
  <p>
    Terima kasih, <br>
    <em>Tim Fazzpay</em>
  </p>
</body>

</html> 