<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:remove="all">Template for HTML email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>

</style>

<body>
  <p>
    Halo <span th:text="${name}" class="username">User</span>,
  </p>

  <p>
    Selamat datang di website FazzPay! Kami sangat senang bahwa Anda telah memilih kami sebagai platform pembayaran online yang Anda percayai.
  </p><br>
  <p>
    FazzPay dikembangkan dengan teknologi terkini dan dapat diakses dari mana saja, kapan saja, sehingga Anda dapat melakukan transaksi dengan mudah dan aman. Kami juga menyediakan beragam fitur yang akan memudahkan Anda dalam melakukan transaksi seperti pembayaran tagihan, pembelian pulsa, dan lain-lain.
  </p><br>
  <p>
    Kami bertekad untuk memberikan pengalaman yang nyaman dan aman bagi Anda dalam melakukan transaksi online. Jika Anda memiliki pertanyaan atau kesulitan dalam menggunakan FazzPay, jangan ragu untuk menghubungi kami melalui email atau telepon. Kami akan senang untuk membantu Anda.
  </p><br>
  <p>
    Kami berharap Anda akan merasa nyaman menggunakan FazzPay dan menikmati kemudahan yang ditawarkan oleh platform kami.
  </p><br>
  
  <div class="contact">
    <p>
      Terima kasih, <br>
      <em>Tim FazzPay</em>
    </p>
  </div>
</div>
</body>

</html> 